<div class="dashboard-container">
  <h2 class="dashboard-title">Awesome Squad Team Dashboard</h2>

  <div class="dashboard-section">
    <h3 class="section-title">Current Sprint:</h3>
    <p class="section-content">{{ currentSprint[0]?.name }}</p>
  </div>

  <div class="dashboard-section">
    <h3 class="section-title">Team Capacity:</h3>
    <p class="section-content">{{ capacity }}</p>
  </div>

  <div class="dashboard-section">
    <h3 class="section-title">Team Velocity (Last 3 sprints):</h3>
    <p class="section-content">{{ velocity }}</p>
  </div>

  <div class="dashboard-section">
    <h3 class="section-title">Public Holidays:</h3>
    <ul class="members-list">
      <li class="member-item" *ngFor="let member of teamMembers">
        <span class="member-name">{{ member.Name }}</span> -
        <span class="member-country">{{ member.Location.Country }}</span>,
        <span class="member-region">{{ member.Location.Region }}</span>

        <div *ngIf="holidays[member.Id]?.length; else noHolidays">
          <ul class="holidays-list">
            <li class="holiday-item" *ngFor="let holiday of holidays[member.Id]">
              <span class="holiday-summary">{{ holiday.summary }}</span> -
              <span class="holiday-start">{{ holiday.start.date.split('T')[0] }}</span> to
              <span class="holiday-end">{{ holiday.end.date.split('T')[0] }}</span>
            </li>
          </ul>
        </div>

        <ng-template #noHolidays>
          <div class="no-holidays">No holidays</div>
        </ng-template>
      </li>
    </ul>
</div>

  <div class="dashboard-section">
    <h3 class="section-title">Issues:</h3>
    <ul class="issue-list">
      <li class="issue-item" *ngFor="let issue of issues">
        <span class="issue-key">{{ issue.id }}</span> - {{ issue.fields.issueType.description }}
      </li>
    </ul>
  </div>
</div>

